.header  {
  font-family: monospace;
  background: papayawhip;
  /*MY SOLUTION*/
  display: flex;
  align-items: center;
  /*ODIN SOLUTION */
  /*
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  */
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  /*MY SOLUTION*/
  display: flex;
  flex: 1;
  justify-content: center;
  flex-wrap: wrap;
  margin: 15px 0px;
}

.left-links, .right-links {
  /*MY SOLUTION*/
  flex: 4;
  
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  /*MY SOLUTION*/
  display: flex;
  padding: 5px;
  margin: 0px 5px;
  gap: 17px;
  align-items: center;
  
  /*ODIN SOLUTION */
  /* 
  display: flex;
  margin: 0;
  padding: 0;
  gap: 8px;
  */

}



a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}

/*MY SOLUTION*/
.left-links ul {
  justify-content: flex-start;
  flex: 1;
}

.right-links ul {
  justify-content: flex-end;
  flex: 1;  
}